html,
body,
ul,
ol,
div {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
.swiper {
    width: 63%;
	min-width: 800px;
    height: 90%;
	min-height: 400px;
	left:19%;
	top: 8%;
	position: relative;
}

.swiper .pic {
    width: 100%;
    height: 100%;
}

.swiper .pic li {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    overflow: hidden;
}

.swiper .pic li img {
    width: 100%;
    height: 100%;
}

.now {
    z-index: 9;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.next {
    z-index: 6;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
}

.prev {
    z-index: 6;
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
}

._bg {
    background-color: red !important;
}

.swiper .cricle {
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.swiper .cricle li {
    float: left;
    width: 14px;
    height: 14px;
    background-color: #cccccc;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.swiper .btns {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 53px;
    z-index: 9;
}

.swiper .btns .leftbtn,
.swiper .btns .rightbtn {
    height:53px;
    width: 53px;
    border-radius: 50%;
  /*  background-color: rgba(0, 0, 0, 0.5); */	
	background: url(../img/game_main3.png);
	animation: fresh1 1.5s ease-in-out infinite;
}
.swiper .btns .leftbtn{
	background-position: -475px 0;
}
.swiper .btns .rightbtn{
	background-position: -544px -1px;
}
.leftBox,
.rightBox {
    height: 53px;
    position: absolute;
    top: 30px;
    z-index: 99;
}

.leftBox {
    width: 53px;
    left: 0;
}

.rightBox {
    width: 53px;
    right: 0;
}